@CHARSET "UTF-8";

.title 
{
	/*border: 2px solid #000;*/
}


.menu 
{
	/*border: 2px solid #000;*/
}


.content 
{
	/*border: 2px solid #000;*/
}


.footer 
{
	/*
	text-align: center;
	font-size: 12px;
	color: #AAA;
	*/
}